{% extends 'base.html' %}

{% block title %}Book Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- <h1 class="text-success mb-4">Book Details:</h1> -->
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ book.image_url }}" class="img-fluid rounded-start " alt="{{ book.name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{ book.name }}</h1>
                    <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
                    <p class="card-text"><strong>Add To Site At:</strong> {{ book.add_to_site_at }}</p>
                    <p class="card-text"><strong>Price:</strong> <span class="text-success">${{ book.price }}</span></p>
                    {% if book.age_category.value == "adults" %}
                    <p class="card-text"><strong>Age Category:</strong><span class="text-danger"> Adults </span>
                    </p>
                    {% elif book.age_category.value == "under 8" %}
                    <p class="card-text"><strong>Age Category:</strong> <span class="text-success"> Children </span></p>
                    {% else %}
                    <p class="card-text"><strong>Age Category:</strong> <span class="text-success"> all </span></p>
                    {% endif %}
                    <a href="#" class="btn btn-primary">Buy Now</a>
                    <a href="{{ url_for('main.books') }}" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}